.center{
    width: 30vmax;
}

.max20{
    width: 20vmax;
} 

.play{
    width: 20vmax;
   
}

.progressbar {
width: 25vw;
height: 2vh;
background-color: black;
border: darkgray;
border-style: solid;
border-width: 1px;
border-radius: 6px;
}

.cpu-damage{
    font-size:2.5vmax;
    color: red;
    font-family: bree-serif, serif;
    font-weight: 700;
    font-style: normal;
    float: right;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;

}

.p1-damage{
    font-size:2.5vmax;
    color: olivedrab;
    font-family: bree-serif, serif;
    font-weight: 700;
    font-style: normal;
    float:left; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    

}

.score{
    font-size: 3vmin;
    color: white;
    font-family: bree-serif, serif;
    font-weight: 400;
    font-style: normal;

}
.right {
    direction: rtl;
    float: right;
}

.left{
    float:left;
}

.background {
    background: url(animated-gifs-of-fighting-game-backgrounds-5.gif) repeat center center fixed;
    background-size: cover;
    width:100vw;
    height:100vh;
    padding:2vmin;
    margin:auto;
    background-color: black;
    position: relative;
}

.p-thumbnails{
    height:5vmax;
    /* margin: 1vmin; */
    background-color: darkblue;


}

.c-thumbnails{
    height:5vmax;
    /* margin: 1vmin; */
    background-color: darkblue;
    filter: brightness(60%);
   
}

.c-characters{
    height:25vmax;
    float:right;
    padding: 0;
    border-width: .3em;
    margin-top: 5vh;
    background-position:center bottom;
    /* display: inline-block; */
    vertical-align: bottom;
    margin-bottom: 0%;
    position: absolute;
    align-content:bottom;
    top:0;
    right:0;
  
}



.p-characters{
    height:25vmax;
    float:left;
    padding: 0;
    border-width: .3em;
    background-position:center bottom;
    margin-top: 5vh;
    /* display: inline-block; */
    vertical-align: bottom;
    margin-bottom: 0%;
    position: absolute;
    align-content:bottom;
    top:0;
    left:0;

    
}

.versus{
    height:12vmin;
    margin: 8vmin auto;

}

.text{
    
    font-size: 4vmin;
    color: aqua;
    font-family: bree-serif, serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0%;
}


.button {
    margin:2vh 1vh 1vh 1vh;
    height:5vmin;
    width: 10vmin;
    font-size: 2vmin;
    align-content: flex-end;
    padding: 0%;
    border-radius: 1vmin;
    text-align: center;
    font-family: bree-serif, serif;
    font-weight: 400;
    font-style: normal;

}

.transparent{
    background: rgba(red, green, blue, 0.0);
}

.brightness{
    filter: brightness(60%);
}

.cpuhealth{
    font-family: bree-serif, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 3vmin;
    margin-bottom: 0;

}
.p1health{
    font-family: bree-serif, serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 3vmin;
    margin-bottom: 0;
}

#choose {
    margin-top:3vh;
    display:inline-block;
}

#charselect {
    margin: auto;
    display:inline-block;
}


.gameover {
    margin-top: 20vh;
    display:none;
    cursor: pointer;
}

.logo{
    width: 50vw;
    margin: auto;
}

.start{
    width: 25vw;
    cursor: pointer;
}

#playagain {
    margin-top:10vh;
    width: 25vw;
    cursor: pointer;
}

#controls{
    display:inline;
}
.slide-left {
	-webkit-animation: slide-left 0.1s steps(10, end) both;
	        animation: slide-left 0.1s steps(10, end) both;
}

.shake-right {
	-webkit-animation: shake-right 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: shake-right 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}
.slide-fwd-left {
	-webkit-animation: slide-fwd-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-fwd-right {
    -webkit-animation: slide-fwd-right 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-right 0.05s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

.rotate-hor-center {
	-webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.ping {
	-webkit-animation: ping 0.8s ease-in-out both;
	        animation: ping 0.8s ease-in-out both;
}

.shake-right {
	-webkit-animation: shake-right 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: shake-right 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

.rotate-tl {
	-webkit-animation: rotate-tl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-tl 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-17 21:2:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-fwd-left {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateX(-100px);
              transform: translateZ(160px) translateX(-100px);
    }
  }
  @keyframes slide-fwd-left {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateX(-100px);
              transform: translateZ(160px) translateX(-100px);
    }
  }
  

 @-webkit-keyframes slide-fwd-right {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateX(100px);
              transform: translateZ(160px) translateX(100px);
    }
  }
  @keyframes slide-fwd-right {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateX(100px);
              transform: translateZ(160px) translateX(100px);
    }
  }
  

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  

@-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }

  
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-10-17 22:53:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
              transform: scale(2.2);
      opacity: 0;
    }
  }
  @keyframes ping {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
              transform: scale(2.2);
      opacity: 0;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-10-17 22:43:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-10-17 23:1:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-right
 * ----------------------------------------
 */
@-webkit-keyframes shake-right {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-right {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-10-17 23:5:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-10-17 23:18:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-tl
 * ----------------------------------------
 */
@-webkit-keyframes rotate-tl {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
  }
  @keyframes rotate-tl {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
  }
  
  

/* #cpu-fighter{
    height:15vmax;
    margin: auto;
    padding: 0;
    border-width: .3em;
    background-position:center bottom;
    
} */

/* font-family: bree-serif, serif;
font-weight: 700;
font-style: italic;
Bree Serif Italic
font-family: bree-serif, serif;
font-weight: 400;
font-style: italic; 
font-family: bree-serif, serif;
font-weight: 600;
font-style: normal;
*/